#my-style {

}

// span.site-name{
//     color: #008265 !important;
// }

blockquote{
    padding: .1rem 1.5rem;
    background-color: #f3f5f7;
    border-left:0.45rem solid #3eaf7c;
    margin: 1rem 0;
    font-size: 16px;
}

blockquote.warning{
    padding: .1rem 1.5rem;
    background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;
    margin: 1rem 0;
}

.description{
    max-width: 35rem;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #6a8bad;
    text-align: center;
    margin: 1.8rem auto;
}

.home-page-class {
    .page {     

        .content{
            text-align:center;

            code{
                background: #3eaf7c82;
                color: #000;
            }

            .action-button{
                display: inline-block;
                font-size: 1.2rem;
                color: #fff;
                background-color: #3eaf7c;
                padding: .8rem 1.6rem;
                border-radius: 4px;
                transition: background-color .1s ease;
                box-sizing: border-box;
                border-bottom: 1px solid #389d70;
                text-decoration: none;
            }

        }

        .page-edit{
            text-align:center;
            .last-updated{
                text-align:center;
            }
        }

    }
}